In [6]:
import numpy as  np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Let's import data from .csv file and look how does it look alike.

In [7]:
df = pd.read_csv("uncleaned_data.csv")
print("Original size: ", df.shape)
df.head().T

Original size:  (110000, 42)

,0,1,2,3,4
created_at,08/27/2015,09/03/2015,09/05/2015,09/05/2015,08/30/2015
tree_id,180683,200540,204026,204337,189565
block_id,348711,315986,218365,217969,223043
the_geom,POINT (-73.84421521958048 40.723091773924274),POINT (-73.81867945834878 40.79411066708779),POINT (-73.93660770459083 40.717580740099116),POINT (-73.93445615919741 40.713537494833226),POINT (-73.97597938483258 40.66677775537875)
tree_dbh,3,21,3,10,21
stump_diam,0,0,0,0,0
curb_loc,OnCurb,OnCurb,OnCurb,OnCurb,OnCurb
status,Alive,Alive,Alive,Alive,Alive
health,Fair,Fair,Good,Good,Good
spc_latin,Acer rubrum,Quercus palustris,Gleditsia triacanthos var. inermis,Gleditsia triacanthos var. inermis,Tilia americana
spc_common,red maple,pin oak,honeylocust,honeylocust,American linden
steward,None,None,1or2,None,None
guards,None,None,None,None,None
sidewalk,NoDamage,Damage,Damage,Damage,Damage
user_type,TreesCount Staff,TreesCount Staff,Volunteer,Volunteer,Volunteer
problems,None,Stones,None,Stones,Stones
root_stone,No,Yes,No,Yes,Yes
root_grate,No,No,No,No,No
root_other,No,No,No,No,No
trnk_wire,No,No,No,No,No
trnk_light,No,No,No,No,No
trnk_other,No,No,No,No,No
brnch_ligh,No,No,No,No,No
brnch_shoe,No,No,No,No,No
brnch_othe,No,No,No,No,No
address,108-005 70 AVENUE,147-074 7 AVENUE,390 MORGAN AVENUE,1027 GRAND STREET,603 6 STREET
zipcode,11375,11357,11211,11211,11215
zip_city,Forest Hills,Whitestone,Brooklyn,Brooklyn,Brooklyn
cb_num,406,407,301,301,306
borocode,4,4,3,3,3
boroname,Queens,Queens,Brooklyn,Brooklyn,Brooklyn
cncldist,29,19,34,34,39
st_assem,28,27,50,53,44
st_senate,16,11,18,18,21
nta,QN17,QN49,BK90,BK90,BK37
nta_name,Forest Hills,Whitestone,East Williamsburg,East Williamsburg,Park Slope-Gowanus
boro_ct,4073900,4097300,3044900,3044900,3016500
state,New York,New York,New York,New York,New York
latitude,40.723092,40.794111,40.717581,40.713537,40.666778
longitude,-73.844215,-73.818679,-73.936608,-73.934456,-73.975979
x_sp,1027431.14821,1034455.70109,1001822.83131,1002420.35833,990913.775046
y_sp,202756.768749,228644.837379,200716.891267,199244.253136,182202.425999

### Dopping columns
**the_geom:** this column is summary of latitude and longitude columns. So we can drop it without loosing data.

**spc_latin:** this is a scientific name of a tree, we can keep the common name.

**block_id:** does not bring relevant information for the AI model

**address, city_zip, borocode, boroname:** are all information about the location and we already have latitude, longitude and zip code.

In [14]:
df.drop(['the_geom','spc_latin','block_id','address','zip_city','borocode','boroname'], axis=1, inplace=True)
df.head().T

,0,1,2,3,4
created_at,08/27/2015,09/03/2015,09/05/2015,09/05/2015,08/30/2015
tree_id,180683,200540,204026,204337,189565
tree_dbh,3,21,3,10,21
stump_diam,0,0,0,0,0
curb_loc,OnCurb,OnCurb,OnCurb,OnCurb,OnCurb
status,Alive,Alive,Alive,Alive,Alive
health,Fair,Fair,Good,Good,Good
spc_common,red maple,pin oak,honeylocust,honeylocust,American linden
steward,None,None,1or2,None,None
guards,None,None,None,None,None
sidewalk,NoDamage,Damage,Damage,Damage,Damage
user_type,TreesCount Staff,TreesCount Staff,Volunteer,Volunteer,Volunteer
problems,None,Stones,None,Stones,Stones
root_stone,No,Yes,No,Yes,Yes
root_grate,No,No,No,No,No
root_other,No,No,No,No,No
trnk_wire,No,No,No,No,No
trnk_light,No,No,No,No,No
trnk_other,No,No,No,No,No
brnch_ligh,No,No,No,No,No
brnch_shoe,No,No,No,No,No
brnch_othe,No,No,No,No,No
zipcode,11375,11357,11211,11211,11215
cb_num,406,407,301,301,306
cncldist,29,19,34,34,39
st_assem,28,27,50,53,44
st_senate,16,11,18,18,21
nta,QN17,QN49,BK90,BK90,BK37
nta_name,Forest Hills,Whitestone,East Williamsburg,East Williamsburg,Park Slope-Gowanus
boro_ct,4073900,4097300,3044900,3044900,3016500
state,New York,New York,New York,New York,New York
latitude,40.723092,40.794111,40.717581,40.713537,40.666778
longitude,-73.844215,-73.818679,-73.936608,-73.934456,-73.975979
x_sp,1027431.14821,1034455.70109,1001822.83131,1002420.35833,990913.775046
y_sp,202756.768749,228644.837379,200716.891267,199244.253136,182202.425999

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110000 entries, 0 to 109999
Data columns (total 35 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  110000 non-null  object
 1   tree_id     110000 non-null  int64
 2   tree_dbh    110000 non-null  int64
 3   stump_diam  110000 non-null  int64
 4   curb_loc    110000 non-null  object
 5   status      110000 non-null  object
 6   health      104508 non-null  object
 7   spc_common  104509 non-null  object
 8   steward     104509 non-null  object
 9   guards      104509 non-null  object
 10  sidewalk    104509 non-null  object
 11  user_type   110000 non-null  object
 12  problems    104509 non-null  object
 13  root_stone  110000 non-null  object
 14  root_grate  110000 non-null  object
 15  root_other  110000 non-null  object
 16  trnk_wire   110000 non-null  object
 17  trnk_light  110000 non-null  object
 18  trnk_other  110000 non-null  object
 19  brnch_ligh  110000 non-null  object
 20  brnch_shoe  110000 non-null  object
 21  brnch_othe  110000 non-null  object
 22  zipcode     110000 non-null  int64
 23  cb_num      110000 non-null  int64
 24  cncldist    110000 non-null  int64
 25  st_assem    110000 non-null  int64
 26  st_senate   110000 non-null  int64
 27  nta         110000 non-null  object
 28  nta_name    110000 non-null  object
 29  boro_ct     110000 non-null  int64
 30  state       110000 non-null  object
 31  latitude    110000 non-null  float64
 32  longitude   110000 non-null  float64
 33  x_sp        110000 non-null  float64
 34  y_sp        110000 non-null  float64
dtypes: float64(4), int64(9), object(22)
memory usage: 29.4+ MB

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
tree_id,110000.0,2.387664e+05,4.517995e+04,7.000000e+00,2.110788e+05,2.407725e+05,2.720622e+05,3.786080e+05
tree_dbh,110000.0,1.126813e+01,8.593050e+00,0.000000e+00,5.000000e+00,1.000000e+01,1.600000e+01,4.250000e+02
stump_diam,110000.0,4.671727e-01,3.424926e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+02
zipcode,110000.0,1.081924e+04,8.261737e+02,8.300000e+01,1.030900e+04,1.120700e+04,1.135500e+04,1.169700e+04
cb_num,110000.0,3.163913e+02,1.264305e+02,1.010000e+02,2.100000e+02,3.140000e+02,4.110000e+02,5.030000e+02
cncldist,110000.0,2.751890e+01,1.531759e+01,1.000000e+00,1.400000e+01,2.600000e+01,4.000000e+01,5.100000e+01
st_assem,110000.0,5.253114e+01,1.837053e+01,2.300000e+01,3.600000e+01,5.200000e+01,6.700000e+01,8.700000e+01
st_senate,110000.0,2.146288e+01,7.439490e+00,1.000000e+01,1.500000e+01,2.200000e+01,2.700000e+01,3.600000e+01
boro_ct,110000.0,3.130955e+06,1.284663e+06,1.000201e+06,2.028800e+06,3.059402e+06,4.080302e+06,5.031902e+06
latitude,110000.0,4.071018e+01,9.028271e-02,4.049847e+01,4.063451e+01,4.072304e+01,4.077080e+01,4.091281e+01
longitude,110000.0,-7.392906e+01,1.168818e-01,-7.425439e+01,-7.397793e+01,-7.393917e+01,-7.385076e+01,-7.370049e+01
x_sp,110000.0,1.003892e+06,3.242028e+04,9.135095e+05,9.903679e+05,1.001101e+06,1.025575e+06,1.067248e+06
y_sp,110000.0,1.980447e+05,3.289187e+04,1.209738e+05,1.704531e+05,2.027362e+05,2.201115e+05,2.718534e+05

In [18]:
# checking duplicated rows
df.duplicated().any()

False

No duplicated rows

In [19]:
# Percentage of missing values in every column
df.isna().sum()*100/len(df)

created_at    0.000000
tree_id       0.000000
tree_dbh      0.000000
stump_diam    0.000000
curb_loc      0.000000
status        0.000000
health        4.992727
spc_common    4.991818
steward       4.991818
guards        4.991818
sidewalk      4.991818
user_type     0.000000
problems      4.991818
root_stone    0.000000
root_grate    0.000000
root_other    0.000000
trnk_wire     0.000000
trnk_light    0.000000
trnk_other    0.000000
brnch_ligh    0.000000
brnch_shoe    0.000000
brnch_othe    0.000000
zipcode       0.000000
cb_num        0.000000
cncldist      0.000000
st_assem      0.000000
st_senate     0.000000
nta           0.000000
nta_name      0.000000
boro_ct       0.000000
state         0.000000
latitude      0.000000
longitude     0.000000
x_sp          0.000000
y_sp          0.000000
dtype: float64

Only six columns with less than 5% missing values. It's okay

In [ ]:
df.to_csv('cleaned_data.csv', encoding='utf-8', index=False)